header{
  height: 6%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #F8F8F8;
  .logo-box{
    width: 10%;
    @include centerFlex;
    .logo{
      width: 40px;
    }
  }
  .karta{
    text-decoration: none;
    background-color: #dfdfdf;
    padding: 8px 10px;
    border-radius: 6px;
    @include centerFlex;
  }
}