@import './initial';
@import './variables';
@import './templates';
@import './header';
@import './map';
@import './sidebar';

.app{
  display: flex;
  flex-direction: column;
  .main{
    display: flex;
  }
}